@(title: String)

@main("Classifications") {
    <h1>Classifications</h1>
    <br/>
    <div class="col-sm-12 col-lg-6 col-md-6">
        <p><a href="http://www.bbfc.co.uk/what-classification/u"><img src="https://jaybullimore98.files.wordpress.com/2014/12/universal.png" style="width: 15%" /></a>
            <a href="http://www.bbfc.co.uk/what-classification/u">Universal</a>: Suitable for all</p>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6">
        <p><a href="http://www.bbfc.co.uk/what-classification/pg"><img src="http://3.bp.blogspot.com/-_wvENKkMCPc/Un4uKwsyTRI/AAAAAAAAADI/tiSg0Gwafh4/s1600/pgrating.png" style="width: 15%" /></a>
            <a href="http://www.bbfc.co.uk/what-classification/pg">PG</a>: Parental Guidance</p>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6">
        <p><a href="http://www.bbfc.co.uk/what-classification/12a-and-12"><img src="https://www.premier.org.uk/var/ezdemo_site/storage/images/media/images/premier-news-images/film-media/12a/18138632-1-eng-GB/12a_galleryfull.png" style="width: 15%" /></a>
            <a href="http://www.bbfc.co.uk/what-classification/12a-and-12">12A</a>: Under 12s can be supervised by an adult</p>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6">
        <p><a href="http://www.bbfc.co.uk/what-classification/12a-and-12"><img src="https://jonkuhrt.files.wordpress.com/2014/01/bbfc_12_rating1.png" style="width: 15%" /></a>
            <a href="http://www.bbfc.co.uk/what-classification/12a-and-12">12</a>: Suitable for 12 years and over</p>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6">
        <p><a href="http://www.bbfc.co.uk/what-classification/15"><img src="http://s2.thingpic.com/images/Wf/KDBaNZESKgzN1aEZu9ZAAvEZ.png" style="width: 15%" /></a>
            <a href="http://www.bbfc.co.uk/what-classification/15">15</a>: Suitable for 15 years and over</p>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6">
        <p><a href="http://www.bbfc.co.uk/what-classification/18"><img src="https://vignette3.wikia.nocookie.net/gtawiki/images/5/5a/BBFC_18.png" style="width: 15%" /></a>
            <a href="http://www.bbfc.co.uk/what-classification/18">18</a>: Suitable only for adults</p>
    </div>
}