@(title: String)

@main("Classifications") {
    <h1>Classifications</h1>
    <br/>
    <div class="col-sm-12 col-lg-6 col-md-6">
        <p><a href="http://www.bbfc.co.uk/what-classification/u"><img src="@routes.Assets.at("images/u.png")" style="width: 15%" /></a>
            <a href="http://www.bbfc.co.uk/what-classification/u">Universal</a>: Suitable for all</p>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6">
        <p><a href="http://www.bbfc.co.uk/what-classification/pg"><img src="@routes.Assets.at("images/pg.png")" style="width: 15%" /></a>
            <a href="http://www.bbfc.co.uk/what-classification/pg">PG</a>: Parental Guidance</p>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6">
        <p><a href="http://www.bbfc.co.uk/what-classification/12a-and-12"><img src="@routes.Assets.at("images/12a.png")" style="width: 15%" /></a>
            <a href="http://www.bbfc.co.uk/what-classification/12a-and-12">12A</a>: Under 12s can be supervised by an adult</p>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6">
        <p><a href="http://www.bbfc.co.uk/what-classification/12a-and-12"><img src="@routes.Assets.at("images/12.png")" style="width: 15%" /></a>
            <a href="http://www.bbfc.co.uk/what-classification/12a-and-12">12</a>: Suitable for 12 years and over</p>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6">
        <p><a href="http://www.bbfc.co.uk/what-classification/15"><img src="@routes.Assets.at("images/15.png")" style="width: 15%" /></a>
            <a href="http://www.bbfc.co.uk/what-classification/15">15</a>: Suitable for 15 years and over</p>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6">
        <p><a href="http://www.bbfc.co.uk/what-classification/18"><img src="@routes.Assets.at("images/18.png")" style="width: 15%" /></a>
            <a href="http://www.bbfc.co.uk/what-classification/18">18</a>: Suitable only for adults</p>
    </div>
}