@(message: String, form: Form[ContactUs])(implicit messages: Messages)

@main("QA Cinema") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/contact.css")">
    <script src="@routes.Assets.at("javascripts/contact-us.js")"></script>

        <div class="row">

            <div id="about-us">

            <div class="logo">
            <img src="@routes.Assets.at("images/qa-cinemas_c.png")" />
                <br>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>About us</h2>

                    <p>QACinema is an independent Cinema located in Manchester, UK. Our Cinema is within the Lowry Outlet in Salford Quays.  </p>
                    <p>QACinema started as a small cinema in the 1990s, consistently providing our customer, the latest and greatest
                        movies. Our cinema boast the best screens in a million centimeters, with complimentary toilet
                        access with every screen, QA Cimema takes the Cinema experience to the next stage.</p>
                    <br>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="about">
                    <img src="@routes.Assets.at("images/lowry_external.png")" width="750" height="100"  />
                        <br>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-2">
                    <h2>Contact us</h2>
                </div>
            </div>
            </div>

            <div id="contact-us">
            <div class="row">
                    <br>
                <div class="col-md-3">
                    <br>
                    <p>Please don't hesitate to contact us if you have any enquiries. </p>
                    <p>You can contact us using the form to the right, via Telephone, or by directly emailing us on info@@qacinemas.co.uk </p>
                    <br>
                    <p>Booking office: 01234 567890 <br>
                        General Enquiries: 01234 980654 </p>
                </div>

                    <div class="col-md-5">

                        <div class="container">
                            <div class="col-md-4">
                                <div class="form-area">

                                    <form role="form" action="/contactform" method="GET" >
                                        <br style="clear:both">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="Name" name="Name" value="" placeholder="Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="Email" name="Email" value="" placeholder="Email" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="Subject" name="Subject" value="" placeholder="Subject" required>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" type="textarea" id="Message" name="Message" value="" placeholder="Message" maxlength="140" rows="7"></textarea>
                                            <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
                                        </div>

                                        <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <a class="twitter-timeline" data-lang="en" data-width="550" data-height="400" href="https://twitter.com/QACinema">Tweets by QACinema</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>

                </div>
            </div>
        </div>


    }
