@(message: String)

@main("QA Cinema") {





        <div class="row">
            <img src="@routes.Assets.at("images/qa-cinemas_c.png")" width="400" height="100" />

            <div class="row">
                <div class="col-md-2">
                    <h2>Contact us</h2>
                </div>
            </div>

            <div class="row">



                    <div class="col-md-4">
                        <h4>Email</h4>
                        <p>Please do not hesitate to get in contact with us. You can contact us via email for any queries that you may have. </p>
                        <p>Our email address is: qacinema@@qacinemas.co.uk</p>
                        <a class="btn btn-primary" target="_blank" href="mailto:daniel.raineri@@qa.com">Email Us</a>
                    </div>

                    <div class="col-md-4">
                        <h4>Telephone</h4>
                        <p>Alternatively, you can still contact us via Telephone. </p>
                            <p>Booking office: 01234 567890 <br>
                            General Enquiries: 01234 980654 </p>

                    </div>

                    <div class="col-md-4">
                        <a class="twitter-timeline" data-lang="en" data-width="550" data-height="400" href="https://twitter.com/QACinema">Tweets by QACinema</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>

                </div>
        </div>





}
