@import reactivemongo.play.json.collection.JSONCollection
@(movies: List[Movie])

@main("QA Cinema") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/listnings.css")">


    <div class="row">
        <div class="col-md-2">
            <p class="lead">Filter Movies</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Action</a>
                <a href="#" class="list-group-item">Comedy</a>
                <a href="#" class="list-group-item">Romance</a>
            </div>
        </div>


        <div class = "col-md-10">
        @for(m <- movies) {
            <div class="gallery">
                <a href="/movieinfo?id=@m.movie_id">
                    <img src="@m.poster_path" alt="@m.title" width="300" height="200">
                </a>
                <div class="desc"><a href ="/movieinfo?id=@m.movie_id">
                    @m.title <img src ="@m.age_rating"></a></div>
            </div>
        }
        </div>

    </div>


}

