@(message: String)

@main("QA Cinema") {


    <div class="row">
        <img src="@routes.Assets.at("images/qa-cinemas_c.png")" width="400" height="100" />

        <div class="row">
            <div class="col-md-4">
                <h2>Local Amenities</h2>


            </div>
        </div>

        <div class="row">


            <div class="col-md-4">
                <h4>
                        <ul><strong>A: QA Cinema</strong><ul><br>Home of great movies and unforgettable times </ul></ul>
                        <ul><strong>B: Lime Restaurant</strong><ul><br>Best limes in town! </ul></ul>
                        <ul><strong>C: Nandos</strong><ul><br>Who doesn't love a cheeky Nandos?</ul></ul>
                        <ul><strong>D: Pizza Express</strong><ul><br>Great pizza, nuff said </ul></ul>
                        <ul><strong>E: Media City Tram Stop</strong><ul><br>Simply step of the tram stop and cross the bridge and you have arrived</ul></ul>
                        <ul><strong>F: Media City Bus Stop</strong><ul><br>Even closer than the tram stop, just finish crossing the bridge towards the Lowry</ul></ul>
                </h4>

            </div>


            <div class="pull-right col-md-8">
                <div id="map_wrapper">
                    <div id="map_canvas" class="mapping"></div>
                </div>

                <div class="directions"><form action="http://maps.google.com/maps" method="get" target="_blank">
                    <label for="saddr" class="dir-label">Enter Your Location for Directions</label>
                    <input type="text" name="saddr" class="dir-input" size="16" />
                    <input type="hidden" name="daddr" value="The Lowry, The Quays, Salford, M50 3AZ" />
                    <input type="submit" value="Get directions" class="dir-button button" />
                </form>
                </div>


            </div>
        </div>
    </div>
    </div>


}
