@(movie:Movie)

@main("Movie Info Page"){

    <div class="row">

        <div class="col-md-12">

                <div class="row">

                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h5 class="pull-right"> Adult Ticket £14.99 <br/> Child Ticket £8.99 <br/> Consesion Ticket £9.99 </h5>
                                <h4><a href="#">@movie.title</a>
                                <p>Genre: film bloir</p>
                                <p>Move synopsis: blah blah blah blah blah blah blah blah blah blah blah blah</p>
                                <p>Actors: Mr and Mrs Blah</p>
                                <p>Rating: Blah+</p>


                            </div>
                            <div class="ratings">
                                <p class="pull-right">1,000,000 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <h4><a href="#">Like sound of this Movie?</a>
                        </h4>

                        <a class="btn btn-primary" target="_blank" href="https://www.reddit.com/r/fail/">Then Book it!</a>
                    </div>

                </div>

            </div>

        </div>


}
