@(movie: Movie)

    @main(movie.title) {

        <div class="row">

            <div class="col-lg-12">


                <div class="thumbnail" >


                    <div style="padding: 2em">
                        <h5 class="pull-right"> Adult Ticket £14.99 <br/> Child Ticket £8.99 <br/>
                            Concession Ticket £9.99
                            <hr/>
                            <p>Like the look of this movie?</p>
                            <a class="btn btn-primary " style="margin-outside: 10px" target="_blank" href="@routes.Application.payment">
                                Then Book it!</a>
                        </h5>

                        <h1 style="color: #414141;
                            font-size: 300%">@movie.title <img src="@routes.Assets.at("images/" + movie.age_rating.toLowerCase() + ".png")" style="max-height: 50px;
                            max-width: 50px" /></h1>
                        <br/>

                        <div style="text-align: center">
                            <iframe width="560" height="315" src="@movie.video" frameborder="0" allowfullscreen></iframe>
                        </div>

                        <hr/>

                        <p>Genre: @movie.genres.split(",").map(x => x + " ")</p>

                        <p>director @movie.director</p>
                        <p>Cast @movie.cast</p>
                        <p>Releaste date: @movie.release_date.split("-").reverse.mkString("/")</p>
                        <p>Overview: @movie.overview</p>
                        <h4>Rating</h4>

                    </div>

                    <div style ="padding-top: 15px" class="ratings">
                        <p>
                        @for(star <- 0 until movie.user_rating.toInt) {
                            <span class="glyphicon glyphicon-star"></span>
                        }
                        </p>
                    </div>

                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="@movie.images.split(',')(0)" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="@movie.images.split(',')(1)" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="@movie.images.split(',')(2)" alt="">
                                </div>
                            </div>
                        </div>

                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                    <div class="col-md-3"></div>
                </div>

            </div>

        </div>


    }
