@(price: String,r: Reservation)(implicit session: Session)
@main("Payment") {
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <div id="paypal-button"></div>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        const receivedPrice = @price;
            paypal.Button.render({
                env: 'sandbox', // 'production' Or 'sandbox'

                client: {
                    sandbox: 'ATvnGWDdUAwmb357H1whr96aXMJo3pGm6dPiT2KIzb_2LXVyXl0IYXIilQgZ6cjXvU3mOvmKFRNggRjE',
                    production: 'AeFeE_WZm8Chtixuuoy_N_01pMJyUEZPnOOq2DITmdSLgWl3TMnCPrPp9dyiu0K81k8scCJANqATqwB7'
                },

                commit: true, // Show a 'Pay Now' button

                payment: function (data, actions) {
                    return actions.payment.create({
                        payment: {
                            transactions: [
                                {
                                    amount: {total: receivedPrice, currency: 'GBP'}
                                }
                            ]
                        }
                    });
                },
                onAuthorize: function (data, actions) {
                    return actions.payment.execute().then(function (payment) {

                        window.location.replace("/success");

                    });
                }
            }, '#paypal-button');
    </script>
    <h1>Reservation Details </h1>
    <p>Reservation ID: @r.reservationId</p>
    <p>Name: @r.name</p>
    <p>Email: @r.email</p>
    <p>Seats:@r.seats.map(elem=>elem.mkString).mkString(", ")</p>
    <p>Adult: @r.adult</p>
    <p>Child: @r.child</p>
    <p>Concession: @r.concession</p>
    <p>Total:£ @r.total </p>
    <p>Movie name: @r.movie</p>
    <p>Date: @r.date</p>
    <p>Time: @r.time</p>
    <p>Room: @r.room</p>

}