@(s: Showing, seatsNo: Int)(implicit session: Session)

@main("Seating Plan") {
    <script>
            var selectedSeats = 0
            var availability =
            @s.seatsAvailable
            var seats = [[]]
            window.onload = function () {
                if (@seatsNo>
                availability
                )
                {
                    alert("Select less than " + availability + " seats!")
                    history.go(-1)
                }
            }

            function changeImage(id, src) {

                if (src.indexOf("your-choice") !== -1) {
                    if (selectedSeats <@seatsNo) {
                        document.getElementById(id).src = "@routes.Assets.at("images/choosen-person.png")"
                        selectSeat(id)
                    }
                    else
                        alert("Maximum number of seats selected!")
                }
                else {
                    document.getElementById(id).src = "@routes.Assets.at("images/your-choice.png")"
                    unselectSeat("p" + id)
                }

            }
            function selectSeat(id) {

                seats.push(id)

                selectedSeats++
                var p = document.createElement("p")
                p.id = "p" + id
                p.innerHTML = "Seat: [" + id.toString() + "]"
                document.getElementById("selectedseats").appendChild(p)
            }
            function unselectSeat(id) {
                var ids = id.split(" ")
                seats.splice(seats.indexOf(ids), 1)

                selectedSeats--
                var elem = document.getElementById(id);
                elem.parentNode.removeChild(elem)
            }

            function submitSeats() {
                if (selectedSeats == @seatsNo)
                    window.location.href = "/userinfo?seats=" + seats
                else
                    alert("Select all seats for your reservation")
            }

    </script>
    <h1>Seating Plan </h1>
    <br>
    <button id="seats" onclick="submitSeats()" class="btn btn-primary">Submit Seats</button>
    <div class="row">

        <div class="col-lg-9">
            @for(row <- 0 until s.seats.length) {
                <h1>Row @{
                    row + 1
                }</h1>
                @for(col <- 0 to 9) {
                    @if(s.seats(row)(col) == 0) {
                        <input id="@row @col" type="image" src="@routes.Assets.at("images/your-choice.png")" onclick="changeImage(id, src)" style="font-size: 200%"/>
                    } else {
                        <input id="@row @col" type="image" src="@routes.Assets.at("images/your-unavaliable.png")" style="font-size: 200%"/>
                    }

                }
                <br>
                <br>
            }
            <div id="selectedseats">
                <H1>Seats Selected: </H1>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Seat Type</th>
                            <th>Availability</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center"><img src="@routes.Assets.at("images/your-unavaliable.png")" style="height: 75%; width:auto"/></td>
                            <td>Unavailable</td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><img src="@routes.Assets.at("images/your-choice.png")" style="height: 75%; width:auto"/></td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><img src="@routes.Assets.at("images/choosen-person.png")" style="height: 75%; width:auto"/></td>
                            <td>Selected</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


}