@(movies: List[Movie])(implicit messages: Messages)


@main("List of Movies") {


    <h1>Movies</h1>
    <table>
        <thead>
            <tr><th>ID</th><th>Name</th><th>Genres</th></tr>
        </thead>
        <tbody>
        @for(movie <- movies) {

                <tr><td>@(movies.indexOf(movie))</td>
                    <td>@movie.title</td>
                    <td>@movie.genres</td>
                    <td><a href="/updateMovie/@(movies.indexOf(movie))"> <button type="button" class="btn btn-primary">Edit</button></a></td>
                    <td><a href="/deleteMoviePage/@(movies.indexOf(movie))"> <button type="button" class="btn btn-primary">Delete</button></a></td>

                </tr>
        }
        </tbody>
    </table>

    <hr/>


}