@(show: List[Showing])

@main("Showings") {
  <script>

  </script>
  <h1>Showings</h1>
  <div class="row">

    <div class="col-lg-12">
      <table>
        <thead>
          <tr><th>Movie Name </th><th>Dates</th><th>Screen</th><th>Times</th>
        </thead>
        <tbody>
        @for(s<- show) {
          <tr><td>@s.movieId</td><td>@s.date</td><td>@s.roomId</td><td><a href="@routes.MongoDBController.ticketSelection(s.showingId)">
            <button id="@s.showingId" class="btn btn-primary">@s.time</button>
          </a></td></tr>
        }
        </tbody>
      </table>
    </div>

  </div>


}