
@main("Ticket Type") {
  <script>
   //I will calculate here the total so we can pass it to the final seat selection and create a reservation object that can be added to the session as an embeded document after the payment
    //is accepted
  </script>
  <h1>Showings</h1>
  <div class="row">

    <div class="col-lg-12">
      <h1>Select Ticket Type and Quantity</h1>
    <!--I need a form with 3 combo boxes her: Adult up to 5 seats,Child up to 5 seats, Concession up to 5 seats-->
    </div>

  </div>


}